/* general */
*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

 
/* about me section */
.about-me{
    position: relative;
}
.about-me::before {
    content: "";
    width: 100%;
    height:400px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background: #64A4CB;
    transform: skewY(-10deg);
    transform-origin: top left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.name{
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 1000px;
    height: 280px;
    background-image: url("../images/686b07e7a8a09447677e69f67ec8e784.jpg");
    background-size:cover;
    background-position: center;
    font-size: 35px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 8px;
}



.about{
    margin-right: 40px;
    margin-top: 70px;
    margin-bottom: 40px;
    height: 220px;
    width: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about h1{
    padding: 10px;
    font-size: 30px;
}
.about p{
    padding: 10px;
    font-weight: 520;
    line-height: 1.5;
}
.icons{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}
.icons i {
    font-size: 25px;
    padding-right: 27px;
}

 /* my work section */
 
 img{
    width: 100%;
   height: 300px;
  }
  .pro-info{
    padding: 10px;
  }
  .pro-info p{
    padding: 10px;
    font-size: 20px;
    padding-left: 20px;
  }
  .my-work h2{
    margin-left: 30px;
    font-size: 40px;
  }
  .title{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .title i{
    padding-right: 10px;

  }
  .pro1 ,.pro2,.pro3 ,.pro4,.pro5,.pro6{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;;
  }

/* contact me */
  .contact-me{
    background-color:#64A4CB ;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    color:white;

  }
  .contact-me img{
    width: 540px;
    height: 400px;
  }
  .contact-icons{
    color: black;
  }
  .contact-icons i{
    font-size: 40px;
    padding-right: 25px;
    padding-top: 10px;
  }

  .contact-info h3{
    font-size: 40px;
    margin-bottom: 25px;
    margin-top: 20px;
  }

  .contact-info p{
    margin-bottom: 15px;
    font-size: 25px;
  }

  .contact-info div{
    display: flex;
  }

   .tel i,.e-mail i{
    font-size: 20px;
    padding-right: 20px;
    padding-top: 5px;
  }

  

  /* Small screens (mobile) */
@media (max-width: 480px) {
    /* about me section */
    .about-container {
      display: block;
    }
    .name{
        width: auto;
        margin-right: 40px;
    }
    .about{
    width:auto;
    height: auto;
    margin-top: 10px;
    margin-left: 40px;
    }
    .about h1{
        text-align: center;
    }
    .about-me .icons{
        display: flex;
        justify-content: center;
    }
    /* my work section */
    .grid-work{
        display:grid ;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(6,1fr);
        gap: 20px;
        margin: 25px 30px;
      }
    .my-work h2{
        text-align: center;
    }  
    /* contact me */
  .contact-me{
   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    padding: 0;

  }
  .contact-me img{
   width: 100%;
    height: 100%;
    
  }
  .title i{
    padding-right: 0px;
  }
  .contact-info{
    margin: 30px;
  }
  .contact-info h3{
    text-align: center;
  }
  .contact-icons{
    display: flex;
    justify-content: center;
  }
    }

    

  /* Medium screens ( tablet) */
@media(min-width: 481px) and (max-width: 1024px){
    .name{
        position: absolute;
        min-height: 240px;
        width: auto;
        min-width: 270px;
        top: -85px;
        height: auto;
    }
    .name span{
        position: absolute;
        top: 0px;
        right: -150px;
    }
    .about{
       
        margin-left: 100px;
        min-height: 300px;
        min-width: 219px;
    }
    .about h1 {
        float: right;
        padding: 15px 50px 15px;
  }
  /* my work section */
  .grid-work{
    display:grid ;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    margin: 25px 30px;
  }
  /* contact me */
  .contact-me img{
    width: 50%;
    height: auto;
}
}
  /* Large screens (desktop) */
@media (min-width: 1024px) {
    /* about me section */
    .about-container{
        display: flex;
    }
    .name{
        position: static;
        margin-right: 0px;
    }
    /* my work section */
    .grid-work{
        display:grid ;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 20px;
        margin: 25px 30px;
      }

  }